@model MarketerDetailsViewModel
@{
    ViewBag.Title = "جزئیات ثبت نام";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- contact area -->
<div class="section-full content-inner bg-white contact-style-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-a30 m-b30 border-1 contact-area align-self-stretch">
                    <h2 class="m-b10">@ViewBag.Title</h2>
                    <p>اطلاعات وارد شده خود را در این قسمت مشاهده نمایید.</p>
                    <div class="row">
                        <hr />
                        <div class="col-sm-12">
                            <div class="media-body">
                                <label style="font-size:14px;">شماره پیگیری: <span style="font-size:14px;font-weight:600;padding-right:5px;">@Model.TrackingCode</span></label>
                            </div>
                        </div>
                        <hr />
                        <div class="col-sm-3">
                            <div class="media-body">
                                <label style="font-size:14px;">نام و نام خانوادگی: <span style="font-size:14px;font-weight:600;padding-right:5px;">@Model.Name</span></label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="media-body">
                                <label style="font-size:14px;">شماره تماس: <span style="font-size:14px;font-weight:600;padding-right:5px;">@Model.Tell</span></label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="media-body">
                                <label style="font-size:14px;">سن: <span style="font-size:14px;font-weight:600;padding-right:5px;">@Model.Age</span></label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="media-body">
                                <label style="font-size:14px;">تاریخ ثبت: <span style="font-size:14px;font-weight:600;padding-right:5px;">@Model.Date</span></label>
                            </div>
                        </div>
                        <hr />
                        <div class="col-sm-12">
                            <div class="media-body">
                                <label style="font-size:14px;">توضیح کوتاه: <span style="font-size:14px;font-weight:600;padding-right:5px;">@Model.Description</span></label>
                            </div>
                        </div>
                        <hr />
                        <div class="col-sm-3">
                            <div class="media-body">
                                <label style="font-size:14px;">کشور: <span style="font-size:14px;font-weight:600;padding-right:5px;">@Model.CountryName</span></label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="media-body">
                                <label style="font-size:14px;">استان: <span style="font-size:14px;font-weight:600;padding-right:5px;">@Model.StateName</span></label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="media-body">
                                <label style="font-size:14px;">شهر: <span style="font-size:14px;font-weight:600;padding-right:5px;">@Model.CityName</span></label>
                            </div>
                        </div>
                        <hr />
                        <div class="col-sm-12">
                            <div class="media-body">
                                <label style="font-size:14px;">آدرس: <span style="font-size:14px;font-weight:600;padding-right:5px;">@Model.Address</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
