@model List<BrandListViewModel>
@{
    ViewBag.Title = "لیست برندها";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h3>
                    @ViewBag.Title
                    <small>لیست برندهای ثبت شده</small>
                </h3>
            </div>
            <div class="col-lg-6">
                <a href="/Brand/Create" class="btn btn-secondary btn-link">برند جدید</a>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<div class="container-fluid">
    <div class="row">
        <!--Zero Configuration  Starts -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-1" class="display dataTable cell-border">
                            <thead>
                                <tr>
                                    <th>نام برند</th>
                                    <th>زبان</th>
                                    <th>صفحه نخست</th>
                                    <th>تاریخ ثبت</th>
                                    <th>مدیریت</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr id="brand-@item.Id">
                                    <td>@item.Title</td>
                                    <td>@item.Language</td>
                                    <td>
                                        <div class="checkbox checkbox-success">
                                            <input id="IsAtHomeActive" type="checkbox" class="checkbox-datatable" disabled @item.IsAtHomeActive>
                                            <label for="IsAtHomeActive" class="checkbox-datatable"></label>
                                        </div>
                                    </td>
                                    <td>@item.Date</td>
                                    <td>
                                        <a href="/Brand/Edit/@item.Id" class="btn btn-success btn-datatable">ویرایش</a>
                                        <button type="button" onclick="deleteBrand('@item.Id', 'برند')" class="btn btn-danger btn-datatable">حذف</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--Zero Configuration  Ends -->
    </div>
</div>
@section bottomScripts{
    <script>
        function deleteBrand(address, title) {
            swal({
                title: 'آیا از حذف ' + title + ' مطمئن هستید؟',
                text: title + ' حذف خواهد شد و قابل بازگردانی نخواهد بود.',
                icon: 'warning',
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: 'Post',
                        url: '/Brand/Delete',
                        data: { id: address },
                        success: function (data) {
                            if (data == true) {
                                swal(title + ' با موفقیت حذف شد!', {
                                    icon: 'success',
                                });
                                $('#brand-' + address).fadeOut(1000);
                            }
                            else {
                                swal(title + ' حذف نشد!');
                            }
                        }
                    });
                }
            });
        }
    </script>
}
